<a href="https://colab.research.google.com/github/darstsharon/Aliens-Are-Real/blob/master/PySparkInstall_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Go to 
colab.research.google.com

2. 
!apt-get install openjdk-8-jdk-headless -qq
!wget -q https://archive.apache.org/dist/spark/spark-2.4.3/spark-2.4.3-bin-hadoop2.7.tgz
!tar xf spark-2.4.3-bin-hadoop2.7.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.3-bin-hadoop2.7"
import findspark
findspark.init()

In [0]:
!apt-get install openjdk-8-jdk-headless -qq

In [0]:
!wget -q https://archive.apache.org/dist/spark/spark-2.4.3/spark-2.4.3-bin-hadoop2.7.tgz

In [0]:
!tar xf spark-2.4.3-bin-hadoop2.7.tgz

In [0]:
!pip install -q findspark

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.3-bin-hadoop2.7"
import findspark
findspark.init()

In [0]:
from pyspark import SparkFiles

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName("example") \
    .getOrCreate()

In [8]:
url = "https://s3.amazonaws.com/dataviz-curriculum/day_1/food.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("food.csv"), sep=",", header=True)
df.show()

+-------+-----+
|   food|price|
+-------+-----+
|  pizza|    0|
|  sushi|   12|
|chinese|   10|
+-------+-----+

In [9]:
df.printSchema()

root
 |-- food: string (nullable = true)
 |-- price: string (nullable = true)

In [10]:
# count rows in dataframe
df.count()

3

In [11]:
from pyspark.sql.functions import lit
df2 = df.withColumn("static_column", lit("hellow world"))
df2.show()

+-------+-----+-------------+
|   food|price|static_column|
+-------+-----+-------------+
|  pizza|    0| hellow world|
|  sushi|   12| hellow world|
|chinese|   10| hellow world|
+-------+-----+-------------+

In [12]:
# user-define function
from pyspark.sql.functions import udf
df3 = df2.withColumn("number_of_characters", udf(lambda x: len(x))("food"))
df3.show()

+-------+-----+-------------+--------------------+
|   food|price|static_column|number_of_characters|
+-------+-----+-------------+--------------------+
|  pizza|    0| hellow world|                   5|
|  sushi|   12| hellow world|                   5|
|chinese|   10| hellow world|                   7|
+-------+-----+-------------+--------------------+

In [13]:
# refactored
count_characters = udf(lambda x: len(x))
df3 = df2.withColumn("number_of_characters_refactored", count_characters("food"))
df3.show()

+-------+-----+-------------+-------------------------------+
|   food|price|static_column|number_of_characters_refactored|
+-------+-----+-------------+-------------------------------+
|  pizza|    0| hellow world|                              5|
|  sushi|   12| hellow world|                              5|
|chinese|   10| hellow world|                              7|
+-------+-----+-------------+-------------------------------+

In [14]:
!ls .

mysql-connector-java-8.0.16.jar  spark-2.4.3-bin-hadoop2.7.tgz
sample_data			 spark-2.4.3-bin-hadoop2.7.tgz.1
spark-2.4.3-bin-hadoop2.7

In [0]:
!cp mysql-connector-java-8.0.16.jar spark-2.4.3-bin-hadoop2.7/jars/